<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Export Website/Portal Orders</h2>
            <h3 class="oe_slogan">This module allows to MASS/BULK <b>EXPORT</b> the following records from the website My Account in .csv format.
            </h3>
            <ul>
                <li>Quotations</li>
                <li>Sale Orders</li>
                <li>Invoices</li>
            </ul>
        </div>
    </div>
</section>
<section class="oe_container oe_dark oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">Quotations</h2> </p>
            <h3 class="oe_slogan">The checkbox will help us to select the record to export. We can select multiple checkboxes to export MASS/BULK records. After selecting the records, click on <b>EXPORT</b> button. It will auto download the exported file.</h3>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="quotations_list_odooitnow.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">Export Quotations</h2> </p>
            <h3 class="oe_slogan">Here we can see the view of an exported file along with data from Quotations fields.</h3>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="export_quotation_odooitnow.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container oe_dark oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">Sale Orders</h2> </p>
            <h3 class="oe_slogan"></h3>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="sale_orders_list_odooitnow.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">Export Sale Orders</h2> </p>
            <h3 class="oe_slogan"></h3>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="export_sale_orders_odooitnow.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container oe_dark oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">Invoices</h2> </p>
            <h3 class="oe_slogan"></h3>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="invoice_list_odooitnow.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container oe_slogan">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p><h2 class="text-center">Export Invoices</h2> </p>
            <h3 class="oe_slogan"></h3>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="export_invoices_odooitnow.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <h3 class="oe_slogan">Get In Touch</h3>
    <div class="oe_slogan">
        <a class="btn btn-primary btn-lg mt8" href="mailto:info@odooitnow.com">
            <i class="fa fa-envelope"></i> Email 
        </a> 
        <a class="btn btn-primary btn-lg mt8" href="http://www.odooitnow.com">
            <i class="fa fa-phone"></i> Contact Us
        </a>
    </div>
    <img src="odooitnow.png" style="width: 200px; margin-bottom: 20px;"
        class="center-block">
</section>